Repository bytevantage/vtria-erp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vtria/engineering-team, @vtria/frontend-team, @vtria/backend-team, @vtria/database-team, @vtria/tech-writers, @vtria/devops, @vtria/frontend-leads, @vtria/security-team, @vtria/backend-leads, @vtria/qa-team, @vtria/engineering-managers

Fix blank page issue - Configure React app for root path deployment
  api/logs/error.log
  client/nginx.conf
  client/package.json
  docker-compose.dev.yml
Owners: @vtria/engineering-team

Configure React app for /vtria-erp/ path deployment
  api/logs/error.log
  client/nginx.conf
  client/package.json
  docker-compose.yml
Owners: @vtria/engineering-team

Fix API connectivity for login - Add nginx proxy and enable auth bypass
  api/logs/error.log
  client/nginx.conf
  docker-compose.yml
Owners: @vtria/engineering-team

Fix API connection detection - Add health endpoint proxy and environment config
  api/logs/error.log
  client/nginx.conf
  docker-compose.yml
Owners: @vtria/engineering-team

Fix authentication - Create working user accounts with proper password hashes
  sql/schema/02-production-users.sql
Owners: @vtria/engineering-team

Fix authentication bypass and UI issues
  api/logs/error.log
  client/.env
  client/Dockerfile
  client/src/components/Sidebar.tsx
Owners: @vtria/engineering-team, @vtria/frontend-team

CRITICAL SECURITY FIX: Add ProtectedRoute to all sensitive pages
  api/logs/error.log
  client/.env
  client/Dockerfile
  client/src/App.js
  client/src/components/CaseDashboard.js
  client/src/components/Sidebar.tsx
Owners: @vtria/engineering-team, @vtria/frontend-team

Fix CORS configuration and authentication checks
  api/.env
  api/logs/error.log
  api/src/controllers/auth.controller.js
  api/src/controllers/employee.controller.js
  api/src/server.js
  client/src/App.js
  client/src/components/EmployeeManagement.tsx
  client/src/components/SalesEnquiry.js
  client/src/components/UserManagement.tsx
  client/src/components/Users.js
  client/src/contexts/AuthContext.js
  client/src/pages/Auth/Login.js
  docker-compose.yml
Owners: @vtria/engineering-team, @vtria/backend-team, @vtria/frontend-team

Fix authentication error handling and API URL
  api/logs/error.log
  api/src/utils/errors.js
  client/src/components/UnifiedEnterpriseDashboard.js
Owners: @vtria/engineering-team, @vtria/backend-team, @vtria/frontend-team

Fix client-side API authentication
  api/logs/error.log
  client/src/components/ProductionManagement.js
  client/src/utils/api.js
Owners: @vtria/engineering-team, @vtria/frontend-team

Fix authentication across components
  client/src/components/Dashboard.js
  client/src/components/EmployeeManagement.tsx
Owners: @vtria/frontend-team

Fix dashboard error, remove debug messages, add logout button
  client/src/App.js
  client/src/components/CaseDashboard.js
  client/src/components/ProductionManagement.js
Owners: @vtria/frontend-team

Fix authentication handling for API calls
  api/logs/error.log
  client/src/components/EnterpriseInventoryManagement.jsx
  client/src/contexts/AuthContext.js
  client/src/utils/api.js
Owners: @vtria/engineering-team, @vtria/frontend-team

Fix authentication issue by removing demo token override
  api/logs/error.log
  client/src/components/EnterpriseInventoryManagement.jsx
Owners: @vtria/engineering-team, @vtria/frontend-team

Remove remaining demo token override in loadCategories
  api/logs/error.log
  client/src/components/EnterpriseInventoryManagement.jsx
Owners: @vtria/engineering-team, @vtria/frontend-team

Fix authentication issues: remove demo token overrides and consolidate auth handling
  client/src/services/apiService.js
  client/src/utils/auth.js
Owners: @vtria/frontend-team

Fix authentication header conflicts: remove duplicate auth headers from api utility
  api/logs/error.log
  client/src/services/apiService.js
  client/src/utils/api.js
Owners: @vtria/engineering-team, @vtria/frontend-team

Fix estimation creation 500 error: resolve database schema issues
  api/logs/error.log
  api/src/controllers/estimation.controller.js
Owners: @vtria/engineering-team, @vtria/backend-team

Fix estimation approval authentication: correct token key usage
  api/documents/boms/bom_4.pdf
  api/logs/error.log
  client/src/components/Estimation.js
Owners: @vtria/engineering-team, @vtria/frontend-team

Fix authentication token key consistency across all client components
  client/src/components/ManufacturingWorkflowManager.js
  client/src/components/PDFGenerator.js
  client/src/components/PurchaseOrders.js
  client/src/components/PurchasePriceComparison.js
  client/src/components/SalesOrders.js
  client/src/components/SerialWarrantyTracker.js
  client/src/components/TechnicianDashboard.js
Owners: @vtria/frontend-team

Fix BOM download 500 error: Update database queries to use correct column names
  api/src/controllers/quotationEnhanced.controller.js
  api/src/routes/inventoryEnhanced.routes.js
  client/src/components/QuotationsEnhanced.js
Owners: @vtria/backend-team, @vtria/frontend-team

Fix BOM download 500 error: Remove non-existent image_url column from query
  api/src/controllers/quotationEnhanced.controller.js
Owners: @vtria/backend-team

Fix purchase requisition creation 500 error: Handle null objects in audit trail
  api/src/middleware/auditTrail.middleware.js
Owners: @vtria/backend-team

Fix purchase requisition item display: Properly populate item fields
  api/src/controllers/purchaseRequisition.controller.js
Owners: @vtria/backend-team

Fix purchase requisition edit form: Add product selection and parse legacy data
  client/src/components/PurchaseRequisition.js
Owners: @vtria/frontend-team

Fix purchase requisition parsing: Improve regex for legacy data format
  client/src/components/PurchaseRequisition.js
Owners: @vtria/frontend-team

feat: Fix application startup and enhance purchase requisition functionality
  api/logs/error.log
  api/package-lock.json
  api/src/controllers/purchaseRequisition.controller.js
  api/src/middleware/auditTrail.middleware.js
  api/src/routes/purchaseRequisition.routes.js
  client/package-lock.json
  client/src/components/PurchaseRequisition.js
Owners: @vtria/engineering-team, @vtria/backend-leads, @vtria/frontend-leads, @vtria/backend-team, @vtria/frontend-team

🔧 Fix authentication and database integration issues
  api/logs/error.log
  api/server-minimal.js
  api/src/routes/rfq.routes.js
Owners: @vtria/engineering-team, @vtria/backend-team

Complete database and auth integration cleanup
  .DS_Store
  client/src/components/CompetitiveBiddingManager.jsx
  client/src/contexts/AuthContext.js
  client/src/utils/auth.js
  database/.DS_Store
  sql/schema_backup_incomplete/001_simple_setup.sql
  sql/schema_backup_incomplete/002_case_management_system.sql
  sql/schema_backup_incomplete/01-init.sql
  sql/schema_backup_incomplete/02-production-users.sql
  sql/schema_backup_incomplete/enterprise_employee_rbac_schema.sql
  sql/schema_backup_incomplete/production_complete_schema.sql
  sql/schema_backup_incomplete/production_missing_tables.sql
  sql/schema_backup_incomplete/rbac_extension_schema.sql
Owners: @vtria/engineering-team, @vtria/frontend-team, @vtria/database-team

Fix: Authentication and API issues across 7 components
  ANALYSIS_COMPLETE_README.md
  ENTERPRISE_ANALYTICS_AUTH_FIX.md
  GIT_UPDATE_COMPLETE.md
  LEAVE_MOBILE_ATTENDANCE_ANALYSIS.md
  LEAVE_MOBILE_COMPLETE_SUMMARY.md
  LEAVE_MOBILE_FIXES_COMPLETE.md
  LEAVE_SELF_SERVICE_COMPLETE.md
  LEAVE_SELF_SERVICE_FIX.md
  PURCHASE_QUOTATION_FIXES.md
  QUICK_TEST_LEAVE_MOBILE.md
  api/logs/error.log
  api/src/controllers/employee.controller.js
  api/src/routes/employee.routes.js
  api/uploads/documents/purchase_requisition_VESPL_PR_2526_001_1760298127373.pdf
  client/src/components/EnterpriseCaseDashboard.tsx
  client/src/components/LeaveManagement.tsx
  client/src/components/MobileAttendanceApp.tsx
  client/src/components/PurchaseOrders.js
  client/src/components/PurchaseRequisition.js
  client/src/components/Quotations.js
Owners: @vtria/tech-writers, @vtria/engineering-team, @vtria/backend-team, @vtria/frontend-team

Fix: Production dashboard 500 error - Add automatic token injection
  GIT_COMMIT_COMPLETE.md
  PRODUCTION_500_ERROR_FIX.md
  PRODUCTION_FIX_COMPLETE.md
  api/logs/error.log
  api/src/controllers/production.controller.js
  client/src/components/ProductionManagement.js
  client/src/utils/api.js
Owners: @vtria/tech-writers, @vtria/engineering-team, @vtria/backend-team, @vtria/frontend-team

feat: Add customer acceptance workflow for quotations
  SESSION_COMPLETE_SUMMARY.md
  api/logs/error.log
  api/src/controllers/quotationEnhanced.controller.js
  client/src/components/ProductionManagement.js
  client/src/components/Quotations.js
  client/src/components/QuotationsEnhanced.js
  client/src/utils/api.js
Owners: @vtria/tech-writers, @vtria/engineering-team, @vtria/backend-team, @vtria/frontend-team

docs: Add customer acceptance workflow documentation
  CUSTOMER_ACCEPTANCE_IMPLEMENTATION.md
  CUSTOMER_ACCEPTANCE_WORKFLOW.md
Owners: @vtria/tech-writers

fix: Purchase Orders authentication issues - PDF download and Edit
  api/logs/error.log
  client/src/components/PurchaseOrders.js
Owners: @vtria/engineering-team, @vtria/frontend-team

docs: Add Purchase Orders authentication fix documentation
  PURCHASE_ORDERS_FIX.md
Owners: @vtria/tech-writers

docs: Add comprehensive session summary
  SESSION_SUMMARY_COMPLETE.md
Owners: @vtria/tech-writers

WIP: reapply local changes (including ticket controller updates and additional artifacts)
  AUTH_FIX_REPORT.md
  COMPREHENSIVE_SPEC_GAP_ANALYSIS.md
  DEPLOYMENT_GUIDE.md
  DEPLOYMENT_SUCCESS_REPORT.md
  ENV_CONFIGURATION_GUIDE.md
  IMPLEMENTATION_COMPLETE_SUMMARY.md
  IMPLEMENTATION_PROGRESS.md
  QUICK_START_DEPLOYMENT.md
  api/logs/error.log
  api/src/controllers/ticket.controller.js
  api/src/routes/ticket.routes.js
  client/src/components/TicketManagement.js
  database/schema/mysql_ticket_system.sql
  database/schema/serial_warranty_tracking.sql
  deploy-new-schemas.sh
  multi_role_user_system.sql
  setup_warranty_tables.sh
  sql/backups/README.md
  sql/backups/backup_20251019_121921.sql
  sql/backups/backup_20251019_122214.sql
  sql/create_case_notes_table.sql
  sql/create_ticketing_system.sql
  sql/enhance_case_notes.sql
  sql/schema/06-ticketing-system.sql
  sql/schema/07-case-notes-enhancement.sql
  verify-deployment.sh
Owners: @vtria/tech-writers, @vtria/engineering-team, @vtria/backend-team, @vtria/frontend-team, @vtria/database-team

fix(api): analytics route parse error; normalize user.controller exports and param names to camelCase
  api/src/controllers/user.controller.js
  api/src/routes/analytics.routes.js
Owners: @vtria/backend-team

fix(api): normalize serialWarrantyTracking controller to camelCase and wrap long SQL lines
  api/src/controllers/serialWarrantyTracking.controller.js
Owners: @vtria/backend-team

chore(sql): enable serial tracking for HMI-001, HNMI, HMIO
  sql/migrations/20251021_enable_serial_tracking_for_items.sql
Owners: @vtria/engineering-team

.github/CODEOWNERS:

# Default owners for everything in the repo
*       @vtria/engineering-team

# Core application code
/client/src           @vtria/frontend-team
/api/src              @vtria/backend-team
/database             @vtria/database-team

# Documentation
/README.md            @vtria/tech-writers
/docs/                @vtria/tech-writers

# Infrastructure
/docker/              @vtria/devops
/.github/             @vtria/devops

# Configuration files
/.eslintrc.js         @vtria/frontend-leads
/.prettierrc          @vtria/frontend-leads
/tsconfig.json        @vtria/frontend-leads

# Security-related files
/.env*                @vtria/security-team

# API Documentation
/api-docs/            @vtria/backend-leads @vtria/tech-writers

# Tests
/__tests__/           @vtria/qa-team
/test/                @vtria/qa-team

# Dependencies
/package.json         @vtria/backend-leads @vtria/frontend-leads
yarn.lock             @vtria/backend-leads @vtria/frontend-leads
package-lock.json     @vtria/backend-leads @vtria/frontend-leads

# Pull Request Reviewers
# These people will be automatically requested for review on PRs
# that modify files in these paths
/client/src/**/*.{js,jsx,ts,tsx}  @vtria/frontend-team
/api/src/**/*.js                  @vtria/backend-team
/database/**/*.sql                @vtria/database-team

# Documentation updates
/*.md                     @vtria/tech-writers
/docs/**/*.md             @vtria/tech-writers

# Security-related changes
/**/security*.{js,ts}     @vtria/security-team
/**/auth*.{js,ts}         @vtria/security-team

# Configuration changes
/.github/                 @vtria/devops @vtria/engineering-managers
/package.json             @vtria/backend-leads @vtria/frontend-leads

# Required Reviews
# These require at least 2 approvals from the specified teams
/client/src/**/*.test.{js,jsx,ts,tsx}  @vtria/frontend-leads @vtria/qa-team
/api/**/*.test.js                      @vtria/backend-leads @vtria/qa-team

# Sensitive paths (require security team review)
/**/secrets/**/*           @vtria/security-team
/**/config/credentials.*   @vtria/security-team

# Documentation exempt from review
/.github/CODEOWNERS    @vtria/engineering-managers
/README.md             @vtria/engineering-managers
