Repository bytevantage/vtria-erp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vtria/engineering-team, @vtria/frontend-team, @vtria/backend-team, @vtria/database-team, @vtria/tech-writers, @vtria/devops, @vtria/frontend-leads, @vtria/security-team, @vtria/backend-leads, @vtria/qa-team, @vtria/engineering-managers

.github/CODEOWNERS:

# Default owners for everything in the repo
*       @vtria/engineering-team

# Core application code
/client/src           @vtria/frontend-team
/api/src              @vtria/backend-team
/database             @vtria/database-team

# Documentation
/README.md            @vtria/tech-writers
/docs/                @vtria/tech-writers

# Infrastructure
/docker/              @vtria/devops
/.github/             @vtria/devops

# Configuration files
/.eslintrc.js         @vtria/frontend-leads
/.prettierrc          @vtria/frontend-leads
/tsconfig.json        @vtria/frontend-leads

# Security-related files
/.env*                @vtria/security-team

# API Documentation
/api-docs/            @vtria/backend-leads @vtria/tech-writers

# Tests
/__tests__/           @vtria/qa-team
/test/                @vtria/qa-team

# Dependencies
/package.json         @vtria/backend-leads @vtria/frontend-leads
yarn.lock             @vtria/backend-leads @vtria/frontend-leads
package-lock.json     @vtria/backend-leads @vtria/frontend-leads

# Pull Request Reviewers
# These people will be automatically requested for review on PRs
# that modify files in these paths
/client/src/**/*.{js,jsx,ts,tsx}  @vtria/frontend-team
/api/src/**/*.js                  @vtria/backend-team
/database/**/*.sql                @vtria/database-team

# Documentation updates
/*.md                     @vtria/tech-writers
/docs/**/*.md             @vtria/tech-writers

# Security-related changes
/**/security*.{js,ts}     @vtria/security-team
/**/auth*.{js,ts}         @vtria/security-team

# Configuration changes
/.github/                 @vtria/devops @vtria/engineering-managers
/package.json             @vtria/backend-leads @vtria/frontend-leads

# Required Reviews
# These require at least 2 approvals from the specified teams
/client/src/**/*.test.{js,jsx,ts,tsx}  @vtria/frontend-leads @vtria/qa-team
/api/**/*.test.js                      @vtria/backend-leads @vtria/qa-team

# Sensitive paths (require security team review)
/**/secrets/**/*           @vtria/security-team
/**/config/credentials.*   @vtria/security-team

# Documentation exempt from review
/.github/CODEOWNERS    @vtria/engineering-managers
/README.md             @vtria/engineering-managers

docs: Add comprehensive Git implementation guides and deployment scripts
  GITHUB_PUSH_GUIDE.md
  GIT_IMPLEMENTATION_GUIDE.md
  GIT_IMPLEMENTATION_SUMMARY.md
  GIT_SETUP_IMMEDIATE.md
  PUSH_SOLUTION_5MIN.md
  SIMPLE_DEPLOYMENT_NO_GIT.md
  create-deployment-package.sh
Owners: @vtria/tech-writers, @vtria/engineering-team

Add deployment package and GitHub setup documentation
  .gitignore
Owners: @vtria/engineering-team

fix: correct PowerShell syntax in deploy-git.ps1 - add missing closing brace
  deploy-git.ps1
Owners: @vtria/engineering-team

fix: remove extra closing brace in deploy-git.ps1 PowerShell script
  deploy-git.ps1
Owners: @vtria/engineering-team

fix: replace complex deploy-git.ps1 with simplified, working version
  deploy-git.ps1
Owners: @vtria/engineering-team

fix: remove emoji characters from PowerShell script for compatibility
  deploy-git.ps1
Owners: @vtria/engineering-team

fix: recreate docker-compose.windows.yml with clean YAML syntax, remove duplicate keys
  docker-compose.windows.yml
Owners: @vtria/engineering-team

fix: add .env.production creation to update mode in deploy-git.ps1
  deploy-git.ps1
Owners: @vtria/engineering-team

fix: downgrade @mui/lab to v5 for compatibility with @mui/material v5
  client/package.json
Owners: @vtria/engineering-team

fix: use correct @mui/lab v5 alpha version (5.0.0-alpha.177) compatible with @mui/material v5
  client/package.json
Owners: @vtria/engineering-team

fix: remove outdated package-lock.json to allow regeneration with correct @mui/lab version
  client/package-lock.json
Owners: @vtria/backend-leads, @vtria/frontend-leads

fix: handle missing package-lock.json in Docker builds
  api/Dockerfile
  client/Dockerfile
Owners: @vtria/engineering-team

fix: include dev dependencies for client build
  client/Dockerfile
Owners: @vtria/engineering-team

fix: resolve TypeScript error in AIDashboard
  client/src/components/AIDashboard.tsx
Owners: @vtria/frontend-team

fix: resolve Material-UI Tabs component props error
  client/src/components/AIDashboard.tsx
Owners: @vtria/frontend-team

add: Docker cleanup script for resolving build issues
  docker-cleanup.ps1
Owners: @vtria/engineering-team

fix: resolve TypeScript error in AttendanceManagement
  client/src/components/AttendanceManagement.tsx
Owners: @vtria/frontend-team

fix: correct performanceMetrics type in CasePerformanceDashboard
  client/src/components/CasePerformanceDashboard.tsx
Owners: @vtria/frontend-team

fix: resolve Material-UI Tabs props error in ClientPortalDashboard
  client/src/components/ClientPortalDashboard.tsx
Owners: @vtria/frontend-team

fix: update Select component onChange handler for Material-UI v5
  client/src/components/EmployeeManagement.tsx
Owners: @vtria/frontend-team

fix: resolve TypeScript error in catch block error handling
  client/src/components/EmployeeManagementMain.tsx
Owners: @vtria/frontend-team

fix: correct React component structure in EnterpriseFinancialDashboard
  client/src/components/EnterpriseFinancialDashboard.tsx
Owners: @vtria/frontend-team

fix: update remaining Select onChange handler in EnhancedEmployeeProfile
  client/src/components/hr/EnhancedEmployeeProfile.tsx
Owners: @vtria/frontend-team

fix: correct return statement indentation in EnterpriseFinancialDashboard
  client/src/components/EnterpriseFinancialDashboard.tsx
Owners: @vtria/frontend-team

fix: comprehensive React component structure in EnterpriseFinancialDashboard
  client/src/components/EnterpriseFinancialDashboard.tsx
Owners: @vtria/frontend-team

fix: resolve multiple TypeScript errors in EnhancedEmployeeProfile
  client/src/components/hr/EnhancedEmployeeProfile.tsx
Owners: @vtria/frontend-team

fix: resolve remaining structural issues in EnterpriseFinancialDashboard
  client/src/components/EnterpriseFinancialDashboard.tsx
Owners: @vtria/frontend-team

feat: implement comprehensive version management system
  VERSION.md
  api/package.json
  client/package.json
  package.json
Owners: @vtria/tech-writers, @vtria/engineering-team, @vtria/backend-leads, @vtria/frontend-leads

feat: add comprehensive production environment configuration
  .env.local.example
  .env.production
  .gitignore
  ENVIRONMENT.md
Owners: @vtria/security-team, @vtria/engineering-team, @vtria/tech-writers

✨ Complete TypeScript compilation fixes & production readiness
  api/package.json
  client/src/components/About.js
  client/src/components/AttendanceManagement.tsx
  client/src/components/CasePerformanceDashboard.tsx
  client/src/components/EnhancedCaseHistoryTracker.js
  client/src/components/EnterpriseAuditDashboard.js
  client/src/components/EnterpriseFinancialDashboard.tsx
  client/src/components/EnterpriseProductManagement.tsx
  client/src/components/InvoiceManagement.tsx
  client/src/components/MobileAttendanceApp.tsx
  deploy-git.ps1.backup
  docker-compose.windows.yml.backup
  docker-compose.windows.yml.corrupted
  package.json
Owners: @vtria/engineering-team, @vtria/frontend-team, @vtria/backend-leads, @vtria/frontend-leads

Fix TypeScript compilation errors preventing Docker build
  client/src/components/EnterpriseFinancialDashboard.tsx
  client/src/components/FinancialDashboard.tsx
Owners: @vtria/frontend-team

Fix DatePicker renderInput prop errors for Material-UI v6
  client/src/components/hr/EmployeeProfile.tsx
Owners: @vtria/frontend-team

Fix Docker build Chromium installation I/O error
  api/Dockerfile
Owners: @vtria/engineering-team

Fix TypeScript compilation errors for Docker deployment
  api/Dockerfile
  api/logs/error.log
  client/src/components/EnterpriseFinancialDashboard.tsx
  client/src/components/PriceComparisonPage.tsx
  client/src/components/SerialWarrantyTrackerPage.tsx
  client/src/components/SmartAllocationManager.tsx.disabled
  client/src/components/TechnicianProfileManager.tsx
  client/src/components/common/SelectOrAddField.tsx
  client/src/components/hr/EmployeeProfile.tsx
  client/src/types/index.ts
Owners: @vtria/engineering-team, @vtria/frontend-team

Remove problematic SmartAllocationManager component
  PRODUCTION_CREDENTIALS_GUIDE.md
  PRODUCTION_READY_SUMMARY.md
  PRODUCTION_SETUP_GUIDE.md
  api/logs/error.log
  client/.env
  client/src/App.js
  client/src/components/SmartAllocationManager.tsx
  client/src/components/SmartAllocationManager.tsx.disabled
  client/src/contexts/AuthContext.js
  deploy-production-complete.sh
  sql/production_database_setup.sql
Owners: @vtria/tech-writers, @vtria/engineering-team, @vtria/frontend-team

Fix TimelineOppositeContent props for production build
  client/src/components/CaseHistoryTracker.tsx
Owners: @vtria/frontend-team

Clean up code formatting and remove problematic SmartAllocationManager component
  client/src/components/CaseHistoryTracker.tsx
  deployment-package/client/src/components/SmartAllocationManager.tsx
Owners: @vtria/frontend-team, @vtria/engineering-team

Fix Windows Docker deployment issues
  api/logs/error.log
  docker-compose.windows-fixed.yml
  docker-compose.windows.yml
  fix-windows-deployment.bat
  sql/schema/01-init.sql
  troubleshoot-db.bat
Owners: @vtria/engineering-team

Fix TypeScript and build issues for production and development
  api/logs/error.log
  client/package.json
  client/src/__tests__/stores/useAppStore.test.ts
  client/start-client.sh
  client/tsconfig.json
  docker-compose.windows-fixed.yml
  docker-compose.windows.yml
  docker-compose.yml
  package-lock.json
Owners: @vtria/engineering-team, @vtria/frontend-team, @vtria/backend-leads, @vtria/frontend-leads

Fix Docker client container stability issues
  api/logs/error.log
  client/Dockerfile
  docker-compose.dev.yml
Owners: @vtria/engineering-team
