Repository bytevantage/vtria-erp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vtria/engineering-team, @vtria/frontend-team, @vtria/backend-team, @vtria/database-team, @vtria/tech-writers, @vtria/devops, @vtria/frontend-leads, @vtria/security-team, @vtria/backend-leads, @vtria/qa-team, @vtria/engineering-managers

CRITICAL: Guarantee admin@vtria.com always has user ID 1
  sql/schema/00-complete_schema.sql
  sql/schema/01-init.sql
Owners: @vtria/engineering-team

Change default user emails from .com to .in domain
  sql/schema/00-complete_schema.sql
  sql/schema/01-init.sql
Owners: @vtria/engineering-team

Add complete one-time fix script for estimation creation
  FIX_ESTIMATION_ONCE.ps1
Owners: @vtria/engineering-team

Add debug and quick fix scripts for estimation creation
  DEBUG_ESTIMATION_ERROR.ps1
  QUICK_FIX_ESTIMATION.ps1
Owners: @vtria/engineering-team

Add debug script for purchase requisition quotations issue
  DEBUG_PURCHASE_REQUISITION.ps1
Owners: @vtria/engineering-team

Fix purchase requisition - include 'accepted' quotation status
  api/src/controllers/purchaseRequisition.controller.js
Owners: @vtria/backend-team

Add debug script for PR items - headers vs parts
  DEBUG_PR_ITEMS.ps1
Owners: @vtria/engineering-team

Fix PR to show actual BOM parts instead of quotation headers
  api/src/controllers/purchaseRequisition.controller.js
Owners: @vtria/backend-team

Fix PR stock status - use inventory_items_enhanced instead of inventory_warehouse_stock
  api/src/controllers/purchaseRequisition.controller.js
Owners: @vtria/backend-team

Add debug script for PR items table - check headers saved
  DEBUG_PR_ITEMS_TABLE.ps1
Owners: @vtria/engineering-team

Fix PR creation - exclude headers, only save actual parts
  api/src/controllers/purchaseRequisition.controller.js
Owners: @vtria/backend-team

Fix Purchase Order status update and PDF authentication
  api/src/controllers/purchaseOrder.controller.js
  api/src/routes/purchaseOrder.routes.js
Owners: @vtria/backend-team

Fix Purchase Order PDF download - correct URL and remove invalid columns
  api/src/controllers/purchaseOrder.controller.js
  client/src/components/PurchaseOrders.js
Owners: @vtria/backend-team, @vtria/frontend-team

Fix quotation profit calculation - use actual costs vs selling prices
  api/src/controllers/quotation.controller.js
Owners: @vtria/backend-team

Fix inventory purchase form and profit calculation
  api/src/controllers/quotation.controller.js
  client/src/components/EnterpriseInventoryManagement.jsx
Owners: @vtria/backend-team, @vtria/frontend-team

Fix employee management form validation and department creation
  client/src/components/EmployeeManagement.tsx
Owners: @vtria/frontend-team

Fix deployment script database verification error
  install-vtria.ps1
Owners: @vtria/engineering-team

Remove Change License button from header
  client/src/App.js
Owners: @vtria/frontend-team

Add emergency contact fields to Contact Information step
  client/src/components/EmployeeManagement.tsx
Owners: @vtria/frontend-team

Add review step summary to employee wizard
  client/src/components/EmployeeManagement.tsx
Owners: @vtria/frontend-team

Import Stack component for employee review step
  client/src/components/EmployeeManagement.tsx
Owners: @vtria/frontend-team

Map employee form to API payload
  client/src/components/EmployeeManagement.tsx
Owners: @vtria/frontend-team

Add database migration for employee audit columns
  migrations/README.md
  migrations/add_employee_audit_columns.sql
Owners: @vtria/engineering-team

Fix migration script for MySQL 5.7 compatibility
  migrations/add_employee_audit_columns.sql
Owners: @vtria/engineering-team

.github/CODEOWNERS:

# Default owners for everything in the repo
*       @vtria/engineering-team

# Core application code
/client/src           @vtria/frontend-team
/api/src              @vtria/backend-team
/database             @vtria/database-team

# Documentation
/README.md            @vtria/tech-writers
/docs/                @vtria/tech-writers

# Infrastructure
/docker/              @vtria/devops
/.github/             @vtria/devops

# Configuration files
/.eslintrc.js         @vtria/frontend-leads
/.prettierrc          @vtria/frontend-leads
/tsconfig.json        @vtria/frontend-leads

# Security-related files
/.env*                @vtria/security-team

# API Documentation
/api-docs/            @vtria/backend-leads @vtria/tech-writers

# Tests
/__tests__/           @vtria/qa-team
/test/                @vtria/qa-team

# Dependencies
/package.json         @vtria/backend-leads @vtria/frontend-leads
yarn.lock             @vtria/backend-leads @vtria/frontend-leads
package-lock.json     @vtria/backend-leads @vtria/frontend-leads

# Pull Request Reviewers
# These people will be automatically requested for review on PRs
# that modify files in these paths
/client/src/**/*.{js,jsx,ts,tsx}  @vtria/frontend-team
/api/src/**/*.js                  @vtria/backend-team
/database/**/*.sql                @vtria/database-team

# Documentation updates
/*.md                     @vtria/tech-writers
/docs/**/*.md             @vtria/tech-writers

# Security-related changes
/**/security*.{js,ts}     @vtria/security-team
/**/auth*.{js,ts}         @vtria/security-team

# Configuration changes
/.github/                 @vtria/devops @vtria/engineering-managers
/package.json             @vtria/backend-leads @vtria/frontend-leads

# Required Reviews
# These require at least 2 approvals from the specified teams
/client/src/**/*.test.{js,jsx,ts,tsx}  @vtria/frontend-leads @vtria/qa-team
/api/**/*.test.js                      @vtria/backend-leads @vtria/qa-team

# Sensitive paths (require security team review)
/**/secrets/**/*           @vtria/security-team
/**/config/credentials.*   @vtria/security-team

# Documentation exempt from review
/.github/CODEOWNERS    @vtria/engineering-managers
/README.md             @vtria/engineering-managers
