Repository bytevantage/vtria-erp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vtria/engineering-team, @vtria/frontend-team, @vtria/backend-team, @vtria/database-team, @vtria/tech-writers, @vtria/devops, @vtria/frontend-leads, @vtria/security-team, @vtria/backend-leads, @vtria/qa-team, @vtria/engineering-managers

feat(inventory): default serial tracking from category for new items
  api/src/controllers/enterpriseInventory.controller.js
  api/src/controllers/inventory.controller.js
  api/src/controllers/inventoryEnhanced.controller.js
Owners: @vtria/backend-team

Fix ESLint camelcase, max-len, and no-unused-vars errors in controllers
  api/src/controllers/enterpriseInventory.controller.js
  api/src/controllers/inventory.controller.js
  api/src/controllers/inventoryEnhanced.controller.js
  api/src/controllers/sales.controller.js
  api/src/controllers/stockAvailability.controller.js
  api/src/controllers/suppliers.controller.js
Owners: @vtria/backend-team

Revert problematic files due to bugs and errors
  .DS_Store
  api/logs/error.log
  client/.DS_Store
  client/nginx.conf
  client/src/components/EnterpriseInventoryManagement.jsx
Owners: @vtria/engineering-team, @vtria/frontend-team

Setup complete production database schema with all ERP modules
  api/logs/error.log
  sql/schema/01-init.sql
  sql/schema/06-ticketing-system.sql
  sql/schema/07-case-notes-enhancement.sql
  sql/schema/backup/06-ticketing-system.sql
  sql/schema/backup/07-case-notes-enhancement.sql
  sql/schema/backup/financial_expenses.sql
  sql/schema/backup/hr_payroll.sql
  sql/schema/backup/hr_performance.sql
  sql/schema/backup/production_enhancements.sql
  sql/schema/financial_expenses.sql
  sql/schema/hr_payroll.sql
  sql/schema/hr_performance.sql
  sql/schema/production_enhancements.sql
  sql/schema/production_schema.sql
Owners: @vtria/engineering-team

Fix API database schema mismatches
  api/logs/error.log
  sql/schema/01-init.sql
  sql/schema/production_schema.sql
Owners: @vtria/engineering-team

Fix case management database schema - major progress
  api/logs/error.log
  sql/schema/01-init.sql
Owners: @vtria/engineering-team

Complete case management database schema
  sql/schema/01-init.sql
  sql/schema/production_schema.sql
Owners: @vtria/engineering-team

Fix GitHub workflow lint errors
  .github/workflows/release-demo.yml
  .github/workflows/release-production.yml
Owners: @vtria/devops, @vtria/engineering-managers

Add Windows Server installation support
  WINDOWS_INSTALL.md
  scripts/deploy-demo-windows.ps1
Owners: @vtria/tech-writers, @vtria/engineering-team

chore: update project configuration files and add GitHub templates
  .github/workflows/release-demo.yml
  .github/workflows/release-production.yml
Owners: @vtria/devops, @vtria/engineering-managers

Add Windows Server installation script
  install-vtria.ps1
Owners: @vtria/engineering-team

Fix Docker build: Disable ESLint during build process
  client/config-overrides.js
  client/package.json
Owners: @vtria/engineering-team

Add port conflict resolution scripts for Windows Server deployment
  check-ports.sh
  fix-port-conflicts.ps1
  quick-port-fix.ps1
Owners: @vtria/engineering-team

Fix Windows port 80 permission issue
  docker-compose-alt-ports.yml
  fix-windows-port-80.ps1
  install-vtria.ps1
Owners: @vtria/engineering-team

Simplify deployment: Use safe ports by default
  check-ports.sh
  docker-compose-alt-ports.yml
  docker-compose.yml
  fix-port-conflicts.ps1
  fix-windows-port-80.ps1
  install-vtria.ps1
  quick-port-fix.ps1
Owners: @vtria/engineering-team

Add IIS reverse proxy setup for localhost/vtria-erp URL
  setup-iis-proxy.ps1
Owners: @vtria/engineering-team

Fix lint warning: Remove unused variable
  setup-iis-proxy.ps1
Owners: @vtria/engineering-team

Fix nginx config: Serve app at root for direct port 8080 access
  client/nginx.conf
Owners: @vtria/engineering-team

Fix React app routing: Support both root and /vtria-erp/ paths
  client/src/App.js
  client/src/components/LicenseValidation/LicenseProvider.js
  client/src/contexts/AuthContext.js
  client/src/utils/auth.js
  client/src/utils/pathUtils.js
Owners: @vtria/frontend-team

Add deployment verification script
  verify-deployment.ps1
Owners: @vtria/engineering-team

Completely disable ESLint during build
  client/config-overrides.js
  client/package.json
Owners: @vtria/engineering-team

Implement secure super admin authentication system
  install-vtria.ps1
  secure-install-vtria.ps1
Owners: @vtria/engineering-team

Fix security lint warning: Use SecureString for password parameter
  secure-install-vtria.ps1
Owners: @vtria/engineering-team

Fix encoding issues: Replace all emoji characters with plain text
  install-vtria.ps1
  secure-install-vtria.ps1
  verify-deployment.ps1
Owners: @vtria/engineering-team

Fix database schema mismatch in installation scripts
  install-vtria.ps1
  secure-install-vtria.ps1
Owners: @vtria/engineering-team

CRITICAL FIX: Ensure admin user creation works reliably
  install-vtria.ps1
  secure-install-vtria.ps1
Owners: @vtria/engineering-team

CRITICAL FIX: Use bcryptjs instead of bcrypt for password hashing
  install-vtria.ps1
  secure-install-vtria.ps1
Owners: @vtria/engineering-team

Fix API connectivity: Use nginx proxy instead of direct API URL
  client/.env
  client/src/config.ts
  docker-compose.yml
Owners: @vtria/engineering-team, @vtria/frontend-team

CRITICAL FIX: Force fresh database initialization on install
  install-vtria.ps1
  secure-install-vtria.ps1
Owners: @vtria/engineering-team

CRITICAL FIX: Remove foreign key constraints to non-existent tables
  sql/schema/quality_tables.sql
Owners: @vtria/engineering-team

Add missing schema files to fix 500 errors
  sql/schema/02-enterprise_inventory.sql
  sql/schema/03-enterprise_production.sql
  sql/schema/04-manufacturing.sql
  sql/schema/05-production_schema.sql
  sql/schema/06-quality_tables.sql
Owners: @vtria/engineering-team

Add complete production schema with ALL 181 tables
  extract-schema.sh
  sql/schema/00-complete_schema.sql
Owners: @vtria/engineering-team

Fix 'API URL: Not connected' display bug in status widget
  client/src/components/ConnectionStatus.tsx
Owners: @vtria/frontend-team

CRITICAL FIX: Case number not assigned & estimation creation failing
  api/src/controllers/estimation.controller.js
  api/src/controllers/salesEnquiry.controller.js
Owners: @vtria/backend-team

Add comprehensive SQL audit tools and report
  SQL_AUDIT_REPORT.md
  audit-sql-queries.sh
  comprehensive-sql-audit.sh
  validate-all-endpoints.sh
Owners: @vtria/tech-writers, @vtria/engineering-team

CRITICAL FIX: Prevent database container crashes on Windows
  DB_CRASH_TROUBLESHOOTING.md
  diagnose-db-crash.ps1
  docker-compose.yml
Owners: @vtria/tech-writers, @vtria/engineering-team

Add diagnostic scripts for estimation creation failure
  check-api-error.ps1
  test-estimation-creation.ps1
Owners: @vtria/engineering-team

Add script to get full estimation error details
  get-estimation-error.ps1
Owners: @vtria/engineering-team

CRITICAL: Add error logging to estimation creation
  api/src/controllers/estimation.controller.js
Owners: @vtria/backend-team

FIX: Estimation creation foreign key constraint error
  api/src/controllers/estimation.controller.js
  check-users.ps1
Owners: @vtria/backend-team, @vtria/engineering-team

.github/CODEOWNERS:

# Default owners for everything in the repo
*       @vtria/engineering-team

# Core application code
/client/src           @vtria/frontend-team
/api/src              @vtria/backend-team
/database             @vtria/database-team

# Documentation
/README.md            @vtria/tech-writers
/docs/                @vtria/tech-writers

# Infrastructure
/docker/              @vtria/devops
/.github/             @vtria/devops

# Configuration files
/.eslintrc.js         @vtria/frontend-leads
/.prettierrc          @vtria/frontend-leads
/tsconfig.json        @vtria/frontend-leads

# Security-related files
/.env*                @vtria/security-team

# API Documentation
/api-docs/            @vtria/backend-leads @vtria/tech-writers

# Tests
/__tests__/           @vtria/qa-team
/test/                @vtria/qa-team

# Dependencies
/package.json         @vtria/backend-leads @vtria/frontend-leads
yarn.lock             @vtria/backend-leads @vtria/frontend-leads
package-lock.json     @vtria/backend-leads @vtria/frontend-leads

# Pull Request Reviewers
# These people will be automatically requested for review on PRs
# that modify files in these paths
/client/src/**/*.{js,jsx,ts,tsx}  @vtria/frontend-team
/api/src/**/*.js                  @vtria/backend-team
/database/**/*.sql                @vtria/database-team

# Documentation updates
/*.md                     @vtria/tech-writers
/docs/**/*.md             @vtria/tech-writers

# Security-related changes
/**/security*.{js,ts}     @vtria/security-team
/**/auth*.{js,ts}         @vtria/security-team

# Configuration changes
/.github/                 @vtria/devops @vtria/engineering-managers
/package.json             @vtria/backend-leads @vtria/frontend-leads

# Required Reviews
# These require at least 2 approvals from the specified teams
/client/src/**/*.test.{js,jsx,ts,tsx}  @vtria/frontend-leads @vtria/qa-team
/api/**/*.test.js                      @vtria/backend-leads @vtria/qa-team

# Sensitive paths (require security team review)
/**/secrets/**/*           @vtria/security-team
/**/config/credentials.*   @vtria/security-team

# Documentation exempt from review
/.github/CODEOWNERS    @vtria/engineering-managers
/README.md             @vtria/engineering-managers
